## Azure example

#### Requirements
1. Deployed models in Azure AI Studio
2. Set envariable variable AZURE_ENDPOINT_URL_AND_KEY
- Example for multiple models deployed in Azure (separated by , ): 
    
    AZURE_ENDPOINT_URL_AND_KEY=https://model_1_link:api_key_1,https://model_2_link:api_key_2

#### EDSL example

In [ ]:
from edsl import Model

azure_models = Model.available("azure")
azure_models

[['Cohere-command-r-plus-xncmg', 'azure', 2],
 ['Llama-2-70b-chat-pefgl', 'azure', 6],
 ['Meta-Llama-3-1-405B-Instruct-kaj', 'azure', 7],
 ['Meta-Llama-3-1-70B-Instruct-tgxw', 'azure', 8],
 ['Mistral-Nemo-klfsi', 'azure', 9],
 ['Mistral-large-2407-ojfld', 'azure', 10],
 ['azure:gpt-4o', 'azure', 30],
 ['azure:gpt-4o-mini', 'azure', 31]]

In [ ]:
from edsl import QuestionList,Model
import time
from edsl import Model

for model_name in azure_models:
    start = time.time()
    print("#############")
    print(model_name[0])
    model = Model(model_name[0])

    res = QuestionList.example().by(model).run(cache=False)
    print("Exec time for mode",model_name[0],time.time()-start)
    res.select("answer.*").print()

#############
Cohere-command-r-plus-xncmg
Exec time for mode Cohere-command-r-plus-xncmg 2.976667881011963

#############
Llama-2-70b-chat-pefgl
Exec time for mode Llama-2-70b-chat-pefgl 7.340341091156006

#############
Meta-Llama-3-1-405B-Instruct-kaj
Exec time for mode Meta-Llama-3-1-405B-Instruct-kaj 4.465683937072754

#############
Meta-Llama-3-1-70B-Instruct-tgxw
Exec time for mode Meta-Llama-3-1-70B-Instruct-tgxw 3.670488119125366

#############
Mistral-Nemo-klfsi
Exec time for mode Mistral-Nemo-klfsi 2.1370768547058105

#############
Mistral-large-2407-ojfld
Exec time for mode Mistral-large-2407-ojfld 2.602821111679077

#############
azure:gpt-4o
Exec time for mode azure:gpt-4o 3.8424932956695557

#############
azure:gpt-4o-mini
Exec time for mode azure:gpt-4o-mini 5.15929913520813

## AWS Bedrock

### Requirements
1. Set envariable variables AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY

#### EDSL example

In [ ]:
from edsl import Model

aws_bedrock_models = Model.available("bedrock")
aws_bedrock_models

[['ai21.j2-grande-instruct', 'bedrock', 14],
 ['ai21.j2-jumbo-instruct', 'bedrock', 15],
 ['ai21.j2-mid', 'bedrock', 16],
 ['ai21.j2-mid-v1', 'bedrock', 17],
 ['ai21.j2-ultra', 'bedrock', 18],
 ['ai21.j2-ultra-v1', 'bedrock', 19],
 ['amazon.titan-text-express-v1', 'bedrock', 20],
 ['amazon.titan-text-lite-v1', 'bedrock', 21],
 ['amazon.titan-tg1-large', 'bedrock', 22],
 ['anthropic.claude-3-5-sonnet-20240620-v1:0', 'bedrock', 23],
 ['anthropic.claude-3-haiku-20240307-v1:0', 'bedrock', 24],
 ['anthropic.claude-3-opus-20240229-v1:0', 'bedrock', 25],
 ['anthropic.claude-3-sonnet-20240229-v1:0', 'bedrock', 26],
 ['anthropic.claude-instant-v1', 'bedrock', 27],
 ['anthropic.claude-v2', 'bedrock', 28],
 ['anthropic.claude-v2:1', 'bedrock', 29],
 ['cohere.command-light-text-v14', 'bedrock', 42],
 ['cohere.command-r-plus-v1:0', 'bedrock', 43],
 ['cohere.command-r-v1:0', 'bedrock', 44],
 ['cohere.command-text-v14', 'bedrock', 45],
 ['meta.llama3-1-405b-instruct-v1:0', 'bedrock', 78],
 ['meta.llama3-1-70b-instruct-v1:0', 'bedrock', 79],
 ['meta.llama3-1-8b-instruct-v1:0', 'bedrock', 80],
 ['meta.llama3-70b-instruct-v1:0', 'bedrock', 81],
 ['meta.llama3-8b-instruct-v1:0', 'bedrock', 82],
 ['mistral.mistral-7b-instruct-v0:2', 'bedrock', 86],
 ['mistral.mistral-large-2402-v1:0', 'bedrock', 87],
 ['mistral.mistral-large-2407-v1:0', 'bedrock', 88],
 ['mistral.mixtral-8x7b-instruct-v0:1', 'bedrock', 89]]

In [ ]:
from edsl import QuestionList,Model
import time
from edsl import Model

aws_bedrock_models = Model.available("bedrock")
aws_bedrock_models
for model_name in aws_bedrock_models:
    start = time.time()
    print(model_name[0])
    model = Model(model_name[0])
    res = QuestionList.example().by(model).run(cache=False,print_exceptions=False
    print("Exec time for mode",model_name[0],time.time()-start)
    res.select("answer.*").print()

ai21.j2-grande-instruct
Exec time for mode ai21.j2-grande-instruct 2.708724021911621

ai21.j2-jumbo-instruct
Exec time for mode ai21.j2-jumbo-instruct 2.863417863845825

ai21.j2-mid
Exec time for mode ai21.j2-mid 2.571908712387085

ai21.j2-mid-v1
Exec time for mode ai21.j2-mid-v1 2.499584913253784

ai21.j2-ultra
Exec time for mode ai21.j2-ultra 2.8690333366394043

ai21.j2-ultra-v1
Exec time for mode ai21.j2-ultra-v1 2.819354772567749

amazon.titan-text-express-v1
Attempt 1 failed with exception:Answer key 'answer' must be of type list;
                (got null) which is of type <class 'str'>. now waiting 1.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Exec time for mode amazon.titan-text-express-v1 8.946372032165527

amazon.titan-text-lite-v1
Exec time for mode amazon.titan-text-lite-v1 3.512251853942871

amazon.titan-tg1-large
Attempt 1 failed with exception:Answer key 'answer' must be of type list;
                (got None) which is of type <class 'NoneType'>. now waiting 1.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Attempt 2 failed with exception:Answer key 'answer' must be of type list;
                (got None) which is of type <class 'NoneType'>. now waiting 2.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Attempt 1 failed with exception:Answer must have an 'answer' key (got {'cache_used': False, 'cache_key': 'eaadfefc575722b06a16e9d060ccb9ec', 'usage': {'completion_tokens': 14, 'prompt_tokens': 424, 'total_tokens': 438}, 'raw_model_response': {'id': 'chatcmpl-9xs2pjzkF0KveIAuxz2H5UgqPZCs1', 'choices': [{'finish_reason': 'stop', 'index': 0, 'logprobs': None, 'message': {'content': '{"new_answer": "null", "new_comment": "null"}', 'refusal': None, 'role': 'assistant', 'function_call': None, 'tool_calls': None}}], 'created': 1724056127, 'model': 'gpt-4-1106-preview', 'object': 'chat.completion', 'service_tier': None, 'system_fingerprint': None, 'usage': {'completion_tokens': 14, 'prompt_tokens': 424, 'total_tokens': 438}}, 'new_answer': 'null', 'new_comment': 'null'}). now waiting 1.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Attempt 3 failed with exception:Answer key 'answer' must be of type list;
                (got null) which is of type <class 'str'>. now waiting 4.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Attempt 1 failed with exception:Answer must have an 'answer' key (got {'cache_used': False, 'cache_key': '4f402cfa1cf471c3d110e37f3fa4a955', 'usage': {'completion_tokens': 14, 'prompt_tokens': 423, 'total_tokens': 437}, 'raw_model_response': {'id': 'chatcmpl-9xs2zL8R2E9wpMQW34f11i9JTp4ev', 'choices': [{'finish_reason': 'stop', 'index': 0, 'logprobs': None, 'message': {'content': '{"new_answer": "null", "new_comment": "null"}', 'refusal': None, 'role': 'assistant', 'function_call': None, 'tool_calls': None}}], 'created': 1724056137, 'model': 'gpt-4-1106-preview', 'object': 'chat.completion', 'service_tier': None, 'system_fingerprint': None, 'usage': {'completion_tokens': 14, 'prompt_tokens': 423, 'total_tokens': 437}}, 'new_answer': 'null', 'new_comment': 'null'}). now waiting 1.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Attempt 2 failed with exception:Answer must have an 'answer' key (got {'cache_used': False, 'cache_key': '4f402cfa1cf471c3d110e37f3fa4a955', 'usage': {'completion_tokens': 15, 'prompt_tokens': 423, 'total_tokens': 438}, 'raw_model_response': {'id': 'chatcmpl-9xs31dal3u50vsKXtmaP3TsMRrjr6', 'choices': [{'finish_reason': 'stop', 'index': 0, 'logprobs': None, 'message': {'content': '{"new_answer": null, "new_comment": "Model\'s comments"}', 'refusal': None, 'role': 'assistant', 'function_call': None, 'tool_calls': None}}], 'created': 1724056139, 'model': 'gpt-4-1106-preview', 'object': 'chat.completion', 'service_tier': None, 'system_fingerprint': None, 'usage': {'completion_tokens': 15, 'prompt_tokens': 423, 'total_tokens': 438}}, 'new_answer': None, 'new_comment': "Model's comments"}). now waiting 2.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Attempt 4 failed with exception:Answer key 'answer' must be of type list;
                (got None) which is of type <class 'NoneType'>. now waiting 8.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Attempt 1 failed with exception:Answer must have an 'answer' key (got {'cache_used': False, 'cache_key': 'db27a88aad5b5b2e86395cb130a61d8b', 'usage': {'completion_tokens': 14, 'prompt_tokens': 418, 'total_tokens': 432}, 'raw_model_response': {'id': 'chatcmpl-9xs3HZekXTqy18exMJvAWAu7YZrrL', 'choices': [{'finish_reason': 'stop', 'index': 0, 'logprobs': None, 'message': {'content': '{"new_answer": "null", "new_comment": "null"}', 'refusal': None, 'role': 'assistant', 'function_call': None, 'tool_calls': None}}], 'created': 1724056155, 'model': 'gpt-4-1106-preview', 'object': 'chat.completion', 'service_tier': None, 'system_fingerprint': None, 'usage': {'completion_tokens': 14, 'prompt_tokens': 418, 'total_tokens': 432}}, 'new_answer': 'null', 'new_comment': 'null'}). now waiting 1.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Exec time for mode amazon.titan-tg1-large 44.57852387428284

anthropic.claude-3-5-sonnet-20240620-v1:0
Exec time for mode anthropic.claude-3-5-sonnet-20240620-v1:0 2.7057700157165527

anthropic.claude-3-haiku-20240307-v1:0
Exec time for mode anthropic.claude-3-haiku-20240307-v1:0 2.3646180629730225

anthropic.claude-3-opus-20240229-v1:0
Exec time for mode anthropic.claude-3-opus-20240229-v1:0 4.029946804046631

anthropic.claude-3-sonnet-20240229-v1:0
Exec time for mode anthropic.claude-3-sonnet-20240229-v1:0 3.2650177478790283

anthropic.claude-instant-v1
Exec time for mode anthropic.claude-instant-v1 2.42720890045166

anthropic.claude-v2
Exec time for mode anthropic.claude-v2 3.4177141189575195

anthropic.claude-v2:1
Exec time for mode anthropic.claude-v2:1 3.6937971115112305

cohere.command-light-text-v14
Attempt 1 failed with exception:Answer key 'answer' must be of type list;
                (got Pizza, pasta, sushi, steak, fish (truly a fan of the Mediterranean diet!)) which is of type <class 'str'>. now waiting 1.00 seconds before retrying.Parameters: start=1.0, max=60.0, max_attempts=5.


Exec time for mode cohere.command-light-text-v14 8.352256059646606

cohere.command-r-plus-v1:0
Exec time for mode cohere.command-r-plus-v1:0 3.3644039630889893

cohere.command-r-v1:0
Exec time for mode cohere.command-r-v1:0 2.3319339752197266

cohere.command-text-v14
Exec time for mode cohere.command-text-v14 5.973353862762451

meta.llama3-1-405b-instruct-v1:0
Exec time for mode meta.llama3-1-405b-instruct-v1:0 10.108384132385254

meta.llama3-1-70b-instruct-v1:0
Exec time for mode meta.llama3-1-70b-instruct-v1:0 3.6994330883026123

meta.llama3-1-8b-instruct-v1:0
Exec time for mode meta.llama3-1-8b-instruct-v1:0 2.208446979522705

meta.llama3-70b-instruct-v1:0
Exec time for mode meta.llama3-70b-instruct-v1:0 3.166379928588867

meta.llama3-8b-instruct-v1:0
Exec time for mode meta.llama3-8b-instruct-v1:0 2.37772798538208

mistral.mistral-7b-instruct-v0:2
Exec time for mode mistral.mistral-7b-instruct-v0:2 2.206218957901001

mistral.mistral-large-2402-v1:0
Exec time for mode mistral.mistral-large-2402-v1:0 3.0321481227874756

mistral.mistral-large-2407-v1:0
Exec time for mode mistral.mistral-large-2407-v1:0 2.9732542037963867

mistral.mixtral-8x7b-instruct-v0:1
Exec time for mode mistral.mixtral-8x7b-instruct-v0:1 2.5958569049835205